.jk__alert__wrapper.bottom-center {
  width: 300px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.jk__alert__wrapper.bottom-center .jk__alert__list .jk__alert__text {
  height: 60px;
  background-color: #7b1fa2 !important;
}

.jk__alert__wrapper.bottom-center .jk__alert__list .jk__alert__text svg {
  color: #fff;
}

.jk__alert__wrapper.bottom-center .jk__alert__text span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
